// coolors
$tameblue = #88ebea
$sangria = #ca054d
$midnight = #3b1c32
$pale = #ffe0b5
$blush = #ffc9b5
$sublimegrey = #3c3d39
$white = #fff

// fonts
$titlefont = 'Oxygen', sans-serif
$contentfont = Tahoma, Geneva, sans-serif

// breakpoint vars
$mobilestart = 320px
$smallstart = 480px
$tabletstart = 768px
$airstart = 992px
$thunderstart = 1200px

// Force Angular data bindings to wait{{}}
[ng\:cloak] [ng-cloak] [data-ng-cloak] [x-ng-cloak] .ng-cloak .x-ng-cloak
  display: none !important;


body
  background-color $blush
  font-family $contentfont
  color $sublimegrey

  h1
    font-family $titlefont
    color $sangria


.navbar
  background-color $tameblue
.jumbotron
  background-color $sangria

#sharkjaws
  background-color #fff
  background-image url("/images/helenvideo.gif")
  background-size cover
  background-position 60% center
  border-radius 50%
  margin auto
  height 420px
  width 420px
  border 10px $pale solid
  margin-top 15px

  @media screen and (max-width: $smallstart)
    height 300px
    width 300px
  @media screen and (max-width: $tabletstart)
    margin-top 30px



#helen-hero
  height 500px

  @media screen and (max-width: $smallstart)
    height: 370px
