$white = #fff
$sangria = #CC8B86  //pink
$pale = #f7e1d7  //khaki
$sublimegrey = #546a7b //blue grey
$blush = #b0c4b1 //green
$totalAccent = #f3ed86

// fonts
$titlefont = 'Oxygen', sans-serif
$contentfont = Tahoma, Geneva, sans-serif

// breakpoint vars
$mobilestart = 320px
$smallstart = 480px
$tabletstart = 768px
$airstart = 992px
$thunderstart = 1200px

// Force Angular data bindings to wait{{}}
[ng\:cloak] [ng-cloak] [data-ng-cloak] [x-ng-cloak] .ng-cloak .x-ng-cloak
  display: none !important;

.center
  text-align center
  margin 0 auto !important
  float none !important

body
  background-color $pale
  font-family $contentfont
  color $sublimegrey

  h1, h2, h3, h4, h5, h6
    font-family $titlefont
  h1 // titles
    color $sangria
    &.section-titles
      margin-top -17px
      margin-bottom 15px

  h4 // content text
    line-height 1.25em

.navbar
  background-color $white
  box-shadow 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);

.navbar-default
  border none

li#helen-launcher
  img
    max-height 50px
    max-width 50px


.jumbotron
  background-color $sangria
  margin-bottom 0

#sharkjaws
  background-color #fff
  background-image url("/images/helenvideo.gif")
  background-size cover
  background-position 60% center
  border-radius 50%
  margin auto
  height 420px
  width 420px
  border 10px $blush solid
  margin-top 15px

  @media screen and (max-width: $smallstart)
    height 300px
    width 300px
  @media screen and (max-width: $tabletstart)
    margin-top 30px

#helen-hero
  height 500px
  text-align center

  @media screen and (max-width: $smallstart)
    height 370px

#instagram
  background-color $pale

img.insta
  max-width 100%
  border-radius 50%
  border 10px $blush solid

#qa
  background-color $white

  h4
    margin-bottom 16px
  .dashes
    padding none
    margin 0
  .questions
    padding none
    margin-top 15px
  .alt-background
    background-color $pale

.feature
  padding 30px 5%

#schedule
  background-color $white

//DIRECTIVE STYLES
div.marquee
  white-space no-wrap
  overflow hidden
  color $sangria

div.marquee > div.marquee-text
  white-space nowrap
  display inline
  width auto

//SCHEDULE
#schedule-directive
  .row img
    width 100%
    max-width 400px

  .schedule-description
    background-color $pale


// SHIN SHIN
#shin-shin-directive
  #youtube-container
    iframe
      // height 275px
      // min-width 320px
      // max-width 450px

//HELEN DIRECTIVE
// #helen-directive
