// coolors
$tameblue = #A7B9E4
$sangria = #ca054d
$midnight = #3b1c32
$pale = #ffe0b5
$blush = #ffc9b5
$sublimegrey = #3c3d39
$white = #fff

// coolors 2
$tameblue = #dedbd2
$sangria = #edafb8
$midnight = #4a5759
$pale = #f7e1d7
$sublimegrey = #3c3d39
$blush = #b0c4b1

// coolors 3
$tameblue = $white
$sangria = #CC8B86  //pink
$pale = #f7e1d7  //khaki
$sublimegrey = #546a7b //blue grey
$blush = #b0c4b1 //green
$totalAccent = #f3ed86

// fonts
$titlefont = 'Oxygen', sans-serif
$contentfont = Tahoma, Geneva, sans-serif

// breakpoint vars
$mobilestart = 320px
$smallstart = 480px
$tabletstart = 768px
$airstart = 992px
$thunderstart = 1200px

// Force Angular data bindings to wait{{}}
[ng\:cloak] [ng-cloak] [data-ng-cloak] [x-ng-cloak] .ng-cloak .x-ng-cloak
  display: none !important;

.center
  text-align center
  margin 0 auto !important
  float none !important

body
  background-color $pale
  font-family $contentfont
  color $sublimegrey

  h1, h2, h3, h4, h5, h6
    font-family $titlefont
  h1 // titles
    color $sangria
    &.section-titles
      margin-top -17px
      margin-bottom 15px

  h4 // content text
    line-height 1.25em

.navbar
  background-color $tameblue
.jumbotron
  background-color $sangria
  margin-bottom 0

#sharkjaws
  background-color #fff
  background-image url("/images/helenvideo.gif")
  background-size cover
  background-position 60% center
  border-radius 50%
  margin auto
  height 420px
  width 420px
  border 10px $blush solid
  margin-top 15px

  @media screen and (max-width: $smallstart)
    height 300px
    width 300px
  @media screen and (max-width: $tabletstart)
    margin-top 30px

#helen-hero
  height 500px
  @media screen and (max-width: $smallstart)
    height 370px

#instagram
  background-color $pale

img.insta
  max-width 100%
  border-radius 50%
  border 10px $blush solid

#qa
  background-color $white
  .dashes
    padding none
    margin 0
  .questions
    padding none
    margin-top 15px
  .alt-background
    background-color $pale
  h4
    margin-bottom 16px

.feature
  padding 30px 5%

#schedule
  background-color $white

//DIRECTIVE STYLES
div.marquee
  white-space no-wrap
  overflow hidden
  color $sangria

div.marquee > div.marquee-text
  white-space nowrap
  display inline
  width auto

//SCHEDULE
